<!DOCTYPE html>
<html lang="en" ng-app="alist">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Alist | Admin Panel</title>
<!--     <!-- Bootstrap -->
    <link href="vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <!-- Custom Theme Style -->
    <link href="build/css/custom.css" rel="stylesheet">
    <link href="vendors/datatables.net-bs/css/dataTables.bootstrap.min.css" rel="stylesheet">
     <link href="vendors/datatables.net-buttons-bs/css/buttons.bootstrap.min.css" rel="stylesheet">
     <link href="vendors/datatables.net-fixedheader-bs/css/fixedHeader.bootstrap.min.css" rel="stylesheet">
     <link href="vendors/datatables.net-responsive-bs/css/responsive.bootstrap.min.css" rel="stylesheet">
     <link href="vendors/datatables.net-scroller-bs/css/scroller.bootstrap.min.css" rel="stylesheet">
    <!-- dataTable -->
<!--     <link rel="stylesheet" href="assets/css/jquery.dataTables.min.css">
    <link rel="stylesheet" href="assets/css/buttons.dataTables.min.css"> -->
    <link rel="stylesheet" href="assets/css/custom.css">
    <link rel="stylesheet" href="bower_components/bootstrap-sweetalert/dist/sweetalert.css">
    <link rel="stylesheet" href="bower_components/fancybox-master/dist/jquery.fancybox.css">

    <style>
        .my_page_loader{
            display:    block;
            position:   fixed;
            z-index:    100000000;
            top:        0;
            left:       0;
            height:     100%;
            width:      100%;
            background: rgba( 0, 0, 0, 0.1) url('images/preloader.svg') 50% 50% no-repeat;
        }
    </style>

      <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700|Lato:400,100,300,700,900' rel='stylesheet' type='text/css'>


      <!-- <link rel="stylesheet" href="build/css/animate.css"> -->
      <!-- Custom Stylesheet -->
      <link rel="stylesheet" href="build/css/style.css">

  </head>

  <body class="nav-md" ng-class="{login_wrap : location.path() == '/auth/login',content_wrap : location.path().includes('/auth/content')}" ng-controller="AppController" ng-cloak>

    <div ng-if="loading_request" class="my_page_loader"></div>

    <div class="container body" ng-class="{'login_wrap' : location.path() == '/auth/login'}">
      <div class="main_container" >
        <div class="col-md-3 left_col" ng-show="location.path() != '/auth/login' && !location.path().includes('/auth/content')">
          <div class="left_col scroll-view">
            <div class="navbar nav_title" style="border: 0;">
              <a ui-sref="home" class="site_title"><i class="fa fa-paw"></i> <span>Alist!</span></a>
            </div>

            <div class="clearfix"></div>

            <!-- menu profile quick info -->
            <div class="profile clearfix">
              <div class="profile_pic">
                <img src="images/img.jpg" alt="..." class="img-circle profile_img">
               <!--  <img ng-if="userProfile.profile_pic" ng-src="{{imgUrl}}{{userProfile.profile_pic}}" alt="..." class="img-circle profile_img"> -->
              </div>
              <div class="profile_info">
                <span>Welcome,</span>
                <h2>{{userProfile.name}}</h2>
              </div>
            </div>
            <!-- /menu profile quick info -->

            <br />

            <!-- sidebar menu -->
            <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
              <div class="menu_section">
                <ul class="nav side-menu">
                  <li ui-sref="home"><a><i class="fa fa-tachometer"></i>Dashboard</a></li>
                  <li ><a><i class="fa fa-user"></i>App Users <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                      <li ng-class="{'active' : location.path() == '/admin/user'}" ui-sref="user"><a>Fans</a></li>
                      <li ng-class="{'active' : location.path() == '/admin/celebrity'}" ui-sref="celebrity"><a >Celebrities</a></li>
                    </ul>
                  </li>
                  <li ui-sref="promotionList"><a><i class="fa fa-dollar"></i>Promotions</a></li>
                  <li ui-sref="postList"><a><i class="fa fa-envelope"></i>Posts</a></li>
                  <li ui-sref="notification"><a><i class="fa fa-bell"></i>Notifications</a></li>
                  <li ng-show="userProfile.is_admin == 2" ui-sref="list"><a><i class="fa fa-server"></i>Admin Users</a></li>
                  <li ui-sref="help"><a><i class="fa fa-info"></i> Help </a></li>
                  <li ui-sref="manageContent"><a><i class="fa fa-pencil"></i> Manage Content </a></li>
                </ul>
              </div>
            </div>
            <!-- /sidebar menu -->
          </div>
        </div>

        <!-- top navigation -->
        <div class="top_nav" ng-show="location.path() != '/auth/login' && !location.path().includes('/auth/content')">
          <div class="nav_menu">
            <nav>
              <div class="nav toggle">
                <a id="menu_toggle"><i class="fa fa-bars"></i></a>
              </div>

              <ul class="nav navbar-nav navbar-right">
                <li class="">
                  <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                    <img src="images/img.jpg" alt="">
                    {{userProfile.name}}
                    <span class=" fa fa-angle-down"></span>
                  </a>
                  <ul class="dropdown-menu dropdown-usermenu pull-right">
                    <li><a ui-sref="change-password"> Change Password</a></li>
                  
                    <li><a ng-click="logout()"><i class="fa fa-sign-out pull-right"></i> Log Out</a></li>
                  </ul>
                </li>

                <li role="presentation" class="dropdown">
                  <a href="javascript:;" class="dropdown-toggle info-number" data-toggle="dropdown" aria-expanded="false">
                    <i class="fa fa-envelope-o"></i>
                    <span class="badge bg-green" ng-if="celebrity_requests.length > 0">{{celebrity_requests.length}}</span>
                  </a>
                  <ul id="menu1" class="dropdown-menu list-unstyled msg_list" role="menu">
                    <li ng-repeat="celebrity_request in celebrity_requests" ng-if="$index < 3">
                      <a  ui-sref="notification">
                        <span class="image">
                            <img ng-if="!celebrity_request.from_id.profile_pic" src="images/img.jpg" alt="Profile Image" />
                            <img ng-if="celebrity_request.from_id.profile_pic && celebrity_request.from_id.profile_pic.indexOf('http') < 0" ng-src="{{imgUrl}}{{celebrity_request.from_id.profile_pic}}" alt="Profile Image" />
                            <img ng-if="celebrity_request.from_id.profile_pic && celebrity_request.from_id.profile_pic.indexOf('http') > -1" ng-src="{{celebrity_request.from_id.profile_pic}}" alt="Profile Image" />
                        </span>
                        <span>
                          <span >{{formatDate(celebrity_request.created_at)}}</span>
                        </span>
                        <span class="message">
                          {{celebrity_request.description}}
                        </span>
                      </a>
                    </li>
                    <li ng-if="celebrity_requests.length == 0">
                      <div class="text-center">
                        <a> 
                           No Notifications
                        </a>
                      </div>
                    </li>
                    <li>
                      <div class="text-center" ui-sref="notification">
                        <a>
                          <strong>See All Alerts</strong>
                          <i class="fa fa-angle-right"></i>
                        </a>
                      </div>
                    </li>
                  </ul>
                </li>
              </ul>
            </nav>
          </div>
        </div>
        <!-- /top navigation -->
        <div class="page-header contentheader" ng-show="location.path().includes('/auth/content')">
          <div class="contentlogo"><a  class="site_title " style="font-size: 30px;"><i class="fa fa-paw"></i> <span>Alist!</span></a></div>
        </div>
        <!-- page content -->
        <div class="test_right" ng-class="{loginForm : location.path() == '/auth/login'|| location.path().includes('/auth/content'),right_col : location.path() != '/auth/login'}" role="main">
            <div ui-view="mainContent"></div>
        </div>
        <!-- footer content -->
          <footer ng-show="location.path() != '/auth/login' && !location.path().includes('/auth/content')" >
            <div class="pull-right">
              Alist 
            </div>
            <div class="clearfix"></div>
          </footer>
           <footer ng-show="location.path() == '/auth/login' || location.path().includes('/auth/content')" style="margin-left: 0 !important;background-color: #2A3F54;">
            <a class="atag"  href="#/auth/content/1">Help Center FAQ's</a>|
            <a class="atag" href="#/auth/content/2">Promotion Requirement</a>|
            <a class="atag" href="#/auth/content/3">What are rewards</a>|
            <a class="atag" href="#/auth/content/4">Privacy Policy</a>|
            <a class="atag" href="#/auth/content/5">Terms of Services</a>
          </footer>
        <!-- /footer content -->
      </div>
    </div>

    <!-- jQuery -->
    <script src="vendors/jquery/dist/jquery.js"></script>
    <!-- Bootstrap -->
    <script src="vendors/bootstrap/dist/js/bootstrap.min.js"></script>

    <!-- Custom Theme Scripts -->
    <script src="build/js/custom.js"></script>

    <script src="assets/js/jquery.dataTables.min.js"></script>
    <script src="assets/js/dataTables.buttons.min.js"></script>

    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="bower_components/bootstrap-sweetalert/dist/sweetalert.js"></script>
    <script src="bower_components/moment/moment.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.1.4/Chart.min.js"></script>
    <script src="bower_components/socket.io-client/dist/socket.io.js"></script>
    <script src="bower_components/fancybox-master/dist/jquery.fancybox.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-animate.js"></script>



    <script src="app/app.js"></script>
    <script src="app/constant.js"></script>

    <!-- controllers -->
    <script src="app/appController.js"></script>
    <script src="app/templates/login/login.js"></script>
    <script src="app/templates/login/content.js"></script>
    <script src="app/templates/home/home.js"></script>
    <script src="app/templates/user/user.js"></script>
    <script src="app/templates/user/celebrity.js"></script>
    <script src="app/templates/change_password/change_password.js"></script>
    <script src="app/templates/notification/notification.js"></script>
    <script src="app/templates/userProfile/userProfile.js"></script>
    <script src="app/templates/createAdmin/createAdmin.js"></script>
    <script src="app/templates/promotions/promotions.js"></script>
    <script src="app/templates/promotions/promotionDetail.js"></script>
    <script src="app/templates/help/help.js"></script>
    <script src="app/templates/post/post.js"></script>
    <script src="app/templates/post/postDetail.js"></script>
    <script src="app/templates/manageContent/manageContentCtrl.js"></script>
    <script src="app/templates/manageContent/dynamicContent.js"></script>

    <!-- tinymce -->
    <!-- <script type="text/javascript" src='https://cdn.tinymce.com/4.4/tinymce.min.js'></script>
    <script src="https://cloud.tinymce.com/stable/tinymce.min.js?apiKey=7en28i2bc2hpis1eudwrks3fm9edailta7oxy22xybrrlv2q"></script>
    <script type="text/javascript" src="bower_components/ui-tinymce/src/tinymce.js"></script> -->
    <script type="text/javascript" src='https://ajax.googleapis.com/ajax/libs/angularjs/1.2.4/angular-sanitize.min.js'></script>
    <script type="text/javascript" src='https://cdn.ckeditor.com/4.7.1/full/ckeditor.js'></script>

    <!-- services -->
    <script src="app/services/appRequest.js"></script>
    <script src="app/services/commonRequest.js"></script>
    <script>
      $(document).ready(function () {

        var h = window.innerHeight;

        $('.main_container .right_col').css('min-height',h);
      })

    </script>


  </body>
</html>
