<div >

  <!-- <div class="x_title">
    <h2>Dashboard</h2>
    <div class="clearfix"></div>
  </div> -->
  <div class="row top_tiles" ng-init="home()">
    <a href="">
      <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12" ui-sref="celebrity">
        <div class="tile-stats">
          <div class="icon"><i class="fa fa-male"></i></div>
          <div class="count">{{home.celebrity}}</div>
          <h3>Celebrity</h3>
        </div>
      </div>
    </a>
    <a href="">
      <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12" ui-sref="user">
        <div class="tile-stats">
          <div class="icon"><i class="fa fa-user"></i></div>
          <div class="count">{{home.fan}}</div>
          <h3>Fans</h3>
        </div>
      </div>
    </a>
    <a href="">
      <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12" ui-sref="promotionList">
        <div class="tile-stats">
          <div class="icon"><i class="fa fa-star"></i></div>
          <div class="count">{{home.promotion}}</div>
          <h3>Promotions</h3>
        </div>
      </div>
    </a>
    <a href="">
      <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12" ui-sref="postList">
        <div class="tile-stats">
          <div class="icon"><i class="fa fa-envelope"></i></div>
          <div class="count">{{home.post}}</div>
          <h3>post</h3>
        </div>
      </div>
    </a>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="x_panel">
        <div class="x_title">
          <h2>Users Summary <small>Monthly signups</small></h2>
          <div class="clearfix"></div>
        </div>
        <div class="x_content">
          <div class="col-md-12">
            <div class="demo-container" >
              <canvas id="myChart" width="400" height="150"></canvas>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>