<div class="row" ng-init="allCelebrityRequest()">
  <div class="col-md-12 col-sm-12 col-xs-12">
    <div class="x_panel">
      <div class="x_title">
        <h2>Notifications</h2>
        <div class="clearfix"></div>
      </div>
      <div class="x_content">

        <table id="datatable" class="table table-striped table-bordered">
          <thead>
            <tr>
              <th>Name</th>
              <th>Username</th>
              <th>Email</th>
              <th>Profile Picture</th>
              <th>Requested On</th>
              <th>Action</th>
              <th>View</th>
            </tr>
          </thead>
        </table>
      </div>
    </div>
  </div>
</div>