
<div class="row" ng-init="getcontent()" style="min-height: 990px">
  <div class="col-md-12 col-sm-12 col-xs-12">
  
    <div class="x_panel">
      <div class="x_title" style="padding: 20px;text-align: center;">
        <h2 style="float: none;">{{title}}</h2>
        <div class="clearfix"></div>
      </div>

      <div class="x_content">
        <span ng-bind-html="text"></span>
      </div>
      
    </div>
  </div>
</div>
  