<div style="min-height: 940px">
<div class="top custom_login2">
     <h1 id="title" class=""><span id="logo"> <span>Alist</span></span></h1>
   </div>
   <div class="login-box">
     <div class="box-header">
       <h2>Log In</h2>
     </div>
     <form name="loginForm" ng-submit="loginForm.$valid && submit()" noValidate>
     <label for="username">Email</label>
     <br/>
     <input type="email" id="email" ng-model="login.email" name="email" ng-keyup="serverMsg = undefined" required>
     <div class="error-message">
         <span ng-show="submitted && loginForm.email.$error.required">The username field is required.</span>
         <span ng-show="submitted && loginForm.email.$error.email">Not a valid username type.</span>
     </div>
     <br/>
     <label for="password">Password</label>
     <br/>
     <input type="password" id="password" ng-model="login.password" name="password"
              ng-keyup="serverMsg = undefined" required>
      <div class="error-message">
          <span ng-show="submitted && loginForm.password.$error.required">The password field is required.</span>
          <span ng-if="serverMsg">{{serverMsg}}</span>
      </div>
     <br/>
     <button type="submit" ng-click="submitted = true">Sign In</button>
     <br/>
     </form>
    <!--  <a href="#"><p class="small">Forgot your password?</p></a> -->

   </div>
 </div>  
<!--    </div> -->


 <script>
     $(document).ready(function () {
         $('#logo').addClass('animated fadeInDown');
         $("input:text:visible:first").focus();
     });
     $('#email').focus(function() {
       $('label[for="username"]').addClass('selected');
     });
     $('#email').blur(function() {
       $('label[for="username"]').removeClass('selected');
     });
     $('#password').focus(function() {
       $('label[for="password"]').addClass('selected');
     });
     $('#password').blur(function() {
       $('label[for="password"]').removeClass('selected');
     });
 </script>