
 <div class="clearfix"></div>
<div class="row" ng-init="getPromotionInfo()">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="x_panel">
        <div class="x_title">
          <h2>Posts</h2>
          <div class="clearfix"></div>
        </div>
        <div class="x_content">
          <!-- start project list -->
          <table class="table table-striped projects">
            <thead>
              <tr>
     
                <th style="width: 20%">Celebrity Name</th>
                <th>Title</th>
                <th>Descriptions</th>
                <th># Likes</th>
                <th>Block</th>
              </tr>
            </thead>
            <tbody>
              <tr>
 
                <td>
                  <a>{{promotionDetail.celebrity_id.name}}</a>

                </td>
                <td>
                  <a>{{promotionDetail.title}}</a>
                </td>
                <td >
                  <a>{{promotionDetail.description}}</a>
                </td>
                <td>
                  <a>{{promotionDetail.no_of_likes.length}}</a>
                </td>
                <td>
                  <button ng-if="promotionDetail.is_active != 2 && promotionDetail.is_admin_blocked == 1" type="button" ng-click="actionOnPromotion(promotionDetail._id, 0)" class="btn btn-success">Unblock</button>
                  <button ng-if="promotionDetail.is_active != 2 && promotionDetail.is_admin_blocked == 0" type="button" ng-click="actionOnPromotion(promotionDetail._id, 1)" class="btn btn-danger">Block</button>
                </td>
              </tr>
              
            </tbody>
          </table>
          <!-- end project list -->

        </div>
      </div>
    </div>

    <div class="col-md-12" ng-if="promotionDetail.media.length > 0">
        <div class="x_panel">
          <div class="x_title">
            <h2>Media</h2>
            <div class="clearfix"></div>
          </div>
          <div class="x_content">

            <div class="row">

              <div class="col-md-55" ng-repeat="media in promotionDetail.media">
                <div class="thumbnail" ng-class="{'midea-video' : media.mime.indexOf('video') > -1}">
                  <div class="image view view-first">
                    <a data-fancybox='gallery' href="{{postImgUrl}}{{media.name}}" ng-if="media.mime.indexOf('image') > -1 || media.mime.indexOf('gif') > -1">
                    <img style="width: 100%; display: block;" src="{{postImgUrl}}{{media.name}}">
                    </a>
                     <video style="width: 100%; display: block;" ng-if="media.mime.indexOf('video') > -1" ng-src="{{trustSrc(media.name)}}"  controls='true' webkit-playsinline>
                    </video>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>

      <div class="x_panel">
        <div class="x_title">
          <h2>Comments</h2>
          <div class="clearfix"></div>
        </div>
        <div class="x_content">
          <br>
          <div class="col-sm-12">
              <table id="comments_table" class="table table-striped display" width="100%" cellspacing="0" ng-if="comments.length > 0">
                  <thead>
                      <tr>
                          <th>Fan name</th>
                          <th>Comments</th>
                     <!--      <th>Commented At</th> -->
                          <th>Action</th>
                      </tr>
                  </thead>
                  <tr ng-repeat="comment in comments">
                    <td><a ui-sref="fanDetail({ fan_id : comment.user_id._id})">{{comment.user_id.name}}</td>
                    <td>{{comment.description}}</td>
                    <td ng-if="comment.is_active == 1"><button ng-click="updateComment(comment._id , 0 , $index)" class="block btn btn-danger">Block</button></td>
                    <td ng-if="comment.is_active == 0"><button ng-click="updateComment(comment._id , 1 , $index)" class="block btn btn-primary">Unblock</button></td>
                   </tr>

              </table>
                 <label class="control-label" ng-if="comments.length == 0">No comments</label>

          </div>
        </div>
      </div>

  </div>