<div class="row">
  <div class="col-md-12 col-sm-12 col-xs-12">
    <div class="x_panel">
      <div class="x_title">
        <h2>Posts</h2>
       
        <div class="clearfix"></div>
      </div>
      <div class="x_content">

        <table id="datatable" class="table table-striped table-bordered display posts_dispalay">
          <thead>
            <tr>
            <th>Celebrity name</th>
              <th>Title</th>
                <th>Description</th>
                
                <th>Posted On</th>
                <th>Block</th>
                <th>View</th>
            </tr>
          </thead>

        </table>
      </div>
    </div>
  </div>
</div>