<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_content">

                <form class="form-horizontal form-label-left" name="myForm" noValidate ng-submit="myForm.$valid && submit()" >
                    
                    <span class="section">Update Password</span>
                    <div class="item form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">Old Password <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <input id="old_password" class="form-control col-md-7 col-xs-12" name="old_password" ng-model="formField.old_password" type="password" required="">
                            <div class="error-message">
                                <span ng-show="submitted && myForm.old_password.$error.required">Old password field is required.</span>
                            </div>
                        </div>
                    </div>

                    <div class="item form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">New Password <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <input id="pw1" class="form-control col-md-7 col-xs-12" name="password" type="password" ng-model="formField.password" required="">
                            <div class="error-message">
                                <span ng-show="submitted && myForm.password.$error.required">New password field is required.</span>
                            </div>
                        </div>
                        
                    </div>

                    <div class="item form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">Confirm Password <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <input id="pw2" class="form-control col-md-7 col-xs-12" name="confirm_password" ng-model="formField.confirm_password" type="password" pw-check='pw1' required>
                            <div class="error-message">
                                <span ng-show="submitted && myForm.confirm_password.$error.required">Confirm Password field is required.</span>
                                <span class='msg-error' ng-show='myForm.confirm_password.$dirty && myForm.confirm_password.$error.pwmatch'>
                                   Passwords don't match.
                                 </span>
                            </div>
                        </div>
                    </div>
                    <div class="ln_solid"></div>
                    <div class="form-group">
                        <div class="col-md-6 col-md-offset-3">
                            <button id="send" type="submit" ng-click="submitted=true" class="btn btn-success">Submit</button>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>