[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
 display: none !important;
}

.loginForm{
	margin-left: 0px !important;
}

.make-open{
	display: block !important;
}

.error-message, .required{
	color: #B93026	
}

.promotionImg{
	margin-top : 5px;
}

.trophyImg{
	width : 100px;
	height : 100px;
}

.footer_css{
	position: absolute;
	bottom: 0;
	right: 0;
	width: 100%;
}
