<div class="col-lg-12 col-xs-12" ng-init="getCelebrityProfile()">
<div class="clearfix"></div>
  <div class="row">
<div class="col-md-12 col-sm-12 col-xs-12">
  <div class="x_panel">
    <div class="x_title">
      <h2>Celebrity Info</h2>
      <div class="clearfix"></div>
    </div>
    <div class="x_content">
      <!-- start project list -->
      <table class="table table-striped projects">
        <thead>
          <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Username</th>
            <th># Fans</th>
            <th>Points</th>
            <th>Bio</th>
            <th>Signup on</th>
            <th>Profile Pic</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <a>{{celebrityDetail.name}}</a>
            </td>
            <td>
              <a>{{celebrityDetail.email}}</a>
            </td>
            <td >
              <a>{{celebrityDetail.username}}</a>
            </td>
            <td >
              <a>{{celebrityDetail.fanLength}}</a>
            </td>
            <td>
              <a>{{celebrityDetail.total_points}}</a>
            </td>
            <td>
              <a>{{celebrityDetail.celeb_bio}}</a>
            </td>
            <td>
              <a>{{formatDate(celebrityDetail.created_at)}}</a>
            </td>
            <td>
              <img ng-if="celebrityDetail.profile_pic && celebrityDetail.profile_pic.indexOf('http') < 0" ng-src="{{imgUrl}}{{celebrityDetail.profile_pic}}">
              <img ng-if="celebrityDetail.profile_pic && celebrityDetail.profile_pic.indexOf('http') > -1" ng-src="{{celebrityDetail.profile_pic}}">
              <a ng-if="!celebrityDetail.profile_pic"> No profile picture</a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<!--   <div class="x_panel">
    <div class="x_title">
      <h2>Celebrity Info</h2>
      <div class="clearfix"></div>
    </div>
    <div class="x_content">
      <br>
      <form class="form-horizontal form-label-left">

        <div class="form-group">
          <label class="control-label col-md-3 col-sm-3 col-xs-12">Name : </label>
          <div class="col-md-9 col-sm-9 col-xs-12">
            <label class="control-label">{{celebrityDetail.name}}</label>
          </div>
        </div>

        <div class="form-group">
          <label class="control-label col-md-3 col-sm-3 col-xs-12">Email : </label>
          <div class="col-md-9 col-sm-9 col-xs-12">
            <label class="control-label">{{celebrityDetail.email}}</label>
          </div>
        </div>

        <div class="form-group">
          <label class="control-label col-md-3 col-sm-3 col-xs-12">Username : </label>
          <div class="col-md-9 col-sm-9 col-xs-12">
            <label class="control-label">{{celebrityDetail.username}}</label>
          </div>
        </div>

        <div class="form-group">
          <label class="control-label col-md-3 col-sm-3 col-xs-12">Number of Fans : </label>
          <div class="col-md-9 col-sm-9 col-xs-12">
            <label class="control-label">{{celebrityDetail.fanLength}}</label>
          </div>
        </div>

        <div class="form-group">
          <label class="control-label col-md-3 col-sm-3 col-xs-12">Total points : </label>
          <div class="col-md-9 col-sm-9 col-xs-12">
            <label class="control-label">{{celebrityDetail.total_points}}</label>
          </div>
        </div>

        <div class="form-group">
          <label class="control-label col-md-3 col-sm-3 col-xs-12">Bio : </label>
          <div class="col-md-9 col-sm-9 col-xs-12">
            <label class="control-label">{{celebrityDetail.celeb_bio}}</label>
          </div>
        </div>

        <div class="form-group">
          <label class="control-label col-md-3 col-sm-3 col-xs-12">Signup on : </label>
          <div class="col-md-9 col-sm-9 col-xs-12">
            <label class="control-label">{{formatDate(celebrityDetail.created_at)}}</label>
          </div>
        </div>

        <div class="form-group" ng-if="celebrityDetail.profile_pic">
          <label class="control-label col-md-3 col-sm-3 col-xs-12">Profile Pic : </label>
          <div class="col-md-9 col-sm-9 col-xs-12">
            <img ng-if="celebrityDetail.profile_pic.indexOf('http') < 0" ng-src="{{imgUrl}}{{celebrityDetail.profile_pic}}">
            <img ng-if="celebrityDetail.profile_pic.indexOf('http') > -1" ng-src="{{celebrityDetail.profile_pic}}">
          </div>
        </div>

        <div class="ln_solid"></div>
      </form>
    </div>
  </div> -->

  <div class="col-md-12 col-sm-12 col-xs-12">
    <div class="x_panel">

      <div class="x_content">

        <div class="" role="tabpanel" data-example-id="togglable-tabs">
          <ul id="myTab" class="nav nav-tabs bar_tabs" role="tablist">
            <li role="presentation" class="active"><a href="#tab_content1" onclick="return false" id="home-tab" role="tab" data-toggle="tab" aria-expanded="true">Points Recieved From fans</a>
            </li>
            <li ng-click="getPromotions()" role="presentation" class=""><a href="#tab_content2" onclick="return false" role="tab" id="profile-tab" data-toggle="tab" aria-expanded="false">Promotions</a>
            </li>
            <li ng-click="getPosts()" role="presentation" class=""><a href="#tab_content3" onclick="return false" role="tab" id="profile-tab" data-toggle="tab" aria-expanded="false">Posts</a>
            </li>
          </ul>
          <div id="myTabContent" class="tab-content">
            <div role="tabpanel" class="tab-pane fade active in" id="tab_content1" aria-labelledby="home-tab">

              <div class="col-sm-12">
                  <table id="points_table" class="table table-striped display" width="100%" cellspacing="0" ng-if="fanPoints.length > 0">
                      <thead>
                        <tr>
                            <th>Fan name</th>
                            <th>Fan username</th>
                            <th>Points Given</th>
                        </tr>
                      </thead>
                      <tr ng-repeat="fanPoint in fanPoints">
                        <td>{{fanPoint.fan[0].name}}</td>
                        <td>{{fanPoint.fan[0].username}}</td>
                        <td>{{fanPoint.total_points}}</td>
                       </tr>
                  </table>
                     <label class="control-label" ng-if="fanPoints.length == 0">No points recieved yet</label>
              </div>
            </div>
            <div role="tabpanel" class="tab-pane fade" id="tab_content2" aria-labelledby="profile-tab">
                <div class="col-sm-12">
                    <table id="promotion_table" class="table table-striped display" width="100%" cellspacing="0" ng-if="promotions.length > 0">
                        <thead>
                          <tr>
                              <th>Promotion title</th>
                              <th>Promotion description</th>
                              <th># Stars</th>
                              <th>View</th>
                          </tr>
                        </thead>
                        <tr ng-repeat="promotion in promotions">
                          <td>{{promotion.title}}</td>
                          <td>{{promotion.description}}</td>
                          <td>{{promotion.stars}}</td>
                          <td><button ui-sref="promotionDetail({id : promotion._id})"  class="block btn btn-primary">View</button></td>

                         </tr>
                    </table>
                       <label class="control-label" ng-if="promotions.length == 0">No Promotions</label>
                </div>
            </div>
            <div role="tabpanel" class="tab-pane fade" id="tab_content3" aria-labelledby="profile-tab">
                <div class="col-sm-12">
                    <table id="post_table" class="table table-striped display" width="100%" cellspacing="0" ng-if="posts.length > 0">
                        <thead>
                          <tr>
                            <th>Description</th>
                            <th>View</th>
                          </tr>
                        </thead>
                        <tr ng-repeat="post in posts">
                          <td>{{post.description}}</td>
                          <td><button ui-sref="postDetail({id : post._id})"  class="block btn btn-primary">View</button></td>
                         </tr>
                    </table>
                    <label class="control-label" ng-if="posts.length == 0">No Post</label>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

<!--   <div class="x_panel">
    <div class="x_title">
      <h2>Points Recieved by fans</h2>
      <div class="clearfix"></div>
    </div>
    <div class="x_content">
      <br>
      <div class="col-sm-12">
          <table id="points_table" class="table table-striped display" width="100%" cellspacing="0" ng-if="fanPoints.length > 0">
              <thead>
                <tr>
                    <th>Fan name</th>
                    <th>Fan username</th>
                    <th>Points Given</th>
                </tr>
              </thead>
              <tr ng-repeat="fanPoint in fanPoints">
                <td>{{fanPoint.fan[0].name}}</td>
                <td>{{fanPoint.fan[0].username}}</td>
                <td>{{fanPoint.total_points}}</td>
               </tr>
          </table>
             <label class="control-label" ng-if="fanPoints.length == 0">No points recieved yet</label>
      </div>
    </div>
  </div> -->

<!--   <div class="x_panel">
    <div class="x_title">
      <h2>All fans </h2>
      <div class="clearfix"></div>
    </div>
    <div class="x_content">
      <br>
      <div class="col-sm-12">
          <table id="fan_table" class="table table-striped display" width="100%" cellspacing="0" ng-if="allFans.length > 0">
              <thead>
                <tr>
                    <th>Fan name</th>
                    <th>Fan username</th>
                    <th>Status</th>
                </tr>
              </thead>
              <tr ng-repeat="allFan in allFans">
                <td>{{allFan.fan_detail[0].name}}</td>
                <td>{{allFan.fan_detail[0].username}}</td>
                <td>{{allFan.is_blocked == 1 ? 'blocked' : 'unblocked'}}</td>
               </tr>
          </table>
             <label class="control-label" ng-if="allFans.length == 0">No fans</label>
      </div>
    </div>
  </div> -->
</div>
</div>