
<div class="row" ng-init="listing_init()">
  <div class="col-md-12 col-sm-12 col-xs-12">
    <div class="x_panel">
      <div class="x_title">
        <h2>Celebrity</h2>
       
        <div class="clearfix"></div>
      </div>
      <div class="x_content">

        <table id="datatable" class="table table-striped table-bordered users_dispalay">
          <thead>
            <tr>
              <th>Username</th>
              <th>Full Name</th>
              <th>Email Address</th>
              <th>Profile Picture</th>
              <th>Email Verified</th>
              <th># Points</th> 
              <th># Fans</th> 
              <th>Show All</th>
              <th>Created on</th>
              <th>Block</th>
              <th>View Profile</th>
            </tr>
          </thead>

        </table>
      </div>
    </div>
  </div>
</div>



             