<div class="col-lg-12 col-xs-12" ng-init="getFanProfile()">
<div class="clearfix"></div>
  <div class="row">
<div class="col-md-12 col-sm-12 col-xs-12">
  <div class="x_panel">
    <div class="x_title">
      <h2>Fan Info</h2>
      <div class="clearfix"></div>
    </div>
    <div class="x_content">
      <!-- start project list -->
      <table class="table table-striped projects">
        <thead>
          <tr>
 
            <th style="width: 20%">Name</th>
            <th>Email</th>
            <th>Username</th>
            <th>Signup on</th>
            <th>Points</th>
            <th>Stars</th>
            <th>Profile Pic</th>
          </tr>
        </thead>
        <tbody>
          <tr>

            <td>
              <a>{{fanDetail.name}}</a>

            </td>
            <td>
              <a>{{fanDetail.email}}</a>
            </td>
            <td >
              <a>{{fanDetail.username}}</a>
            </td>
            <td>
              <a>{{formatDate(fanDetail.created_at)}}</a>
            </td>
            <td>
              <a>{{fanDetail.total_points}}</a>
            </td>
            <td>
              <a>{{fanDetail.total_stars}}</a>
            </td>
            <td>
              <img ng-if="fanDetail.profile_pic && fanDetail.profile_pic.indexOf('http') < 0" ng-src="{{imgUrl}}{{fanDetail.profile_pic}}">
              <img ng-if="fanDetail.profile_pic && fanDetail.profile_pic.indexOf('http') > -1" ng-src="{{fanDetail.profile_pic}}">
              <a ng-if="!fanDetail.profile_pic"> No profile picture</a>
            </td>
          </tr>
        </tbody>
      </table>
      <!-- end project list -->
    </div>
  </div>
</div>

  <div class="col-md-12 col-sm-12 col-xs-12">
    <div class="x_panel">

      <div class="x_content">

        <div class="" role="tabpanel" data-example-id="togglable-tabs">
          <ul id="myTab" class="nav nav-tabs bar_tabs" role="tablist">
            <li role="presentation" class="active"><a href="#tab_content1" onclick="return false" id="home-tab" role="tab" data-toggle="tab" aria-expanded="true">Points Given To Celebrity</a>
            </li>
            <li ng-click="getStarsForPromotions()" role="presentation" class=""><a href="#tab_content2" onclick="return false" role="tab" id="profile-tab" data-toggle="tab" aria-expanded="false">Stars Given To Promotions</a>
            </li>
            <li role="presentation" class=""><a href="#tab_content3" onclick="return false" role="tab" id="profile-tab" data-toggle="tab" aria-expanded="false">Trophy Earned</a>
            </li>
          </ul>
          <div id="myTabContent" class="tab-content">
            <div role="tabpanel" class="tab-pane fade active in" id="tab_content1" aria-labelledby="home-tab">

                <div class="col-sm-12">
                    <table id="points_table" class="table table-striped display" width="100%" cellspacing="0" ng-if="celebrityPoints.length > 0">
                        <thead>
                          <tr>
                              <th>Celebrity name</th>
                              <th>Celebrity username</th>
                              <th>Points Given</th>
                          </tr>
                        </thead>
                        <tr ng-repeat="celebrityPoint in celebrityPoints">
                          <td>{{celebrityPoint.celebrity[0].name}}</td>
                          <td>{{celebrityPoint.celebrity[0].username}}</td>
                          <td>{{celebrityPoint.total_points}}</td>
                         </tr>

                    </table>
                       <label class="control-label" ng-if="celebrityPoints.length == 0">No points given yet</label>

                </div>
            </div>
            <div role="tabpanel" class="tab-pane fade" id="tab_content2" aria-labelledby="profile-tab">
                <div class="col-sm-12">
                    <table id="stars_table" class="table table-striped display" width="100%" cellspacing="0" ng-if="promotionStars.length > 0">
                        <thead>
                          <tr>
                              <th>Promotion name</th>
                              <th>Celebrity name</th>
                              <th>Stars Given</th>
                          </tr>
                        </thead>
                        <tr ng-repeat="promotionStar in promotionStars">
                          <td>{{promotionStar.post[0].title}}</td>
                          <td>{{promotionStar.celebrity[0].name}}</td>
                          <td>{{promotionStar.total_stars}}</td>
                         </tr>
                    </table>
                       <label class="control-label" ng-if="promotionStars.length == 0">No stars given yet</label>
                </div>
            </div>
            <div role="tabpanel" class="tab-pane fade" id="tab_content3" aria-labelledby="profile-tab">
                <div class="col-sm-12">
                  <div class="row">
                    <div class="col-lg-2" ng-repeat="trophy in trophies">
                      <img class="trophyImg" src="{{imgUrlForTrophy}}{{trophy.image}}">
                    <label class="control-label">{{trophy.name}}</label>
                    </div>
                    <label class="control-label" ng-if="trophies.length == 0">No Trophy earned yet</label>
                  </div>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>