<div class="row" ng-init="list_init()">
  <div class="col-md-12 col-sm-12 col-xs-12">
    <div class="x_panel">
      <div class="x_title">
        <h2>Admin
        <button ui-sref="createAdmin" type="button" class="btn btn-primary ">Add new admin</button>
        </h2>
       
        <div class="clearfix"></div>
      </div>
      <div class="x_content">

        <table id="datatable" class="table table-striped table-bordered display admin_display">
          <thead>
            <tr>
                <th>Full name</th>
                <th>Username</th>
                <th>Email Address</th>
                <th>Block</th>
                <th>Edit</th>
            </tr>
          </thead>
        </table>
      </div>
    </div>
  </div>
</div>