<div class="row">
  <div class="col-md-12 col-sm-12 col-xs-12">
    <div class="x_panel">
      <div class="x_title">
        <h2>Create Admin</h2>
    
        <div class="clearfix"></div>
      </div>
      <div class="x_content">
        <br>
        <form id="demo-form2" data-parsley-validate="" name="myForm" ng-submit="myForm.$valid && submit()" class="form-horizontal form-label-left" novalidate="">

          <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">Full name <span class="required">*</span>
            </label>
            <div class="col-md-6 col-sm-6 col-xs-12">
              <input type="text" id="first-name" name="fullname" ng-model="admin.fullname" required="required" class="form-control col-md-7 col-xs-12">
              <div class="error-message">
                  <span ng-show="submitted && myForm.fullname.$error.required">Full name field is required.</span>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">Username <span class="required">*</span>
            </label>
            <div class="col-md-6 col-sm-6 col-xs-12">
              <input type="text" id="last-name" name="username" ng-model="admin.username" required="required" class="form-control col-md-7 col-xs-12" ng-keyup="username.serverMessage = ''">
              <div class="error-message">
                  <span ng-show="submitted && myForm.username.$error.required">Username field is required.</span>
                  <span ng-show="submitted && username.serverMessage">{{username.serverMessage}}</span>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="middle-name" class="control-label col-md-3 col-sm-3 col-xs-12">Email</label>
            <div class="col-md-6 col-sm-6 col-xs-12">
              <input id="middle-name" name="email" ng-model="admin.email" class="form-control col-md-7 col-xs-12" type="email" ng-keyup="email.serverMessage = ''" required>
              <div class="error-message">
                  <span ng-show="submitted && myForm.email.$error.required">Email field is required.</span>
                  <span ng-show="submitted && myForm.email.$error.email">Enter valid email.</span>
                  <span ng-show="submitted && email.serverMessage">{{email.serverMessage}}</span>
              </div>
            </div>
          </div>

          <div class="item form-group">
              <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">New Password <span class="required">*</span>
              </label>
              <div class="col-md-6 col-sm-6 col-xs-12">
                  <input id="pw1" class="form-control col-md-7 col-xs-12" name="password" type="password" ng-model="admin.password" required="">
                  <div class="error-message">
                      <span ng-show="submitted && myForm.password.$error.required">New password field is required.</span>
                  </div>
              </div> 
          </div>

          <div class="item form-group">
              <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">Confirm Password <span class="required">*</span>
              </label>
              <div class="col-md-6 col-sm-6 col-xs-12">
                  <input id="pw2" class="form-control col-md-7 col-xs-12" name="confirm_password" ng-model="admin.confirm_password" type="password" pw-check='pw1' required>
                  <div class="error-message">
                      <span ng-show="submitted && myForm.confirm_password.$error.required">Confirm Password field is required.</span>
                      <span class='msg-error' ng-show='myForm.confirm_password.$error.pwmatch'>
                         Passwords don't match.
                       </span>
                  </div>
              </div>
          </div>
          <div class="ln_solid"></div>
          <div class="form-group">
            <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
              <button type="submit" ng-click="submitted = true" class="btn btn-success">Submit</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>