<div class="row" ng-init="list_init()">
  <div class="col-md-12 col-sm-12 col-xs-12">
    <div class="x_panel">
      <div class="x_title">
        <h2>Helps 
        <button ui-sref="createHelp" type="button" class="btn btn-primary ">Add new Help</button>
        </h2>
       
        <div class="clearfix"></div>
      </div>
      <div class="x_content">

        <table id="datatable" class="table table-striped table-bordered display help_dispalay">
          <thead>
            <tr>
              <th>Question</th>
              <th>Answer</th>
              <th>Action</th>
            </tr>
          </thead>
        </table>
      </div>
    </div>
  </div>
</div>