<div class="row" ng-init="edit_init()">
  <div class="col-md-12 col-sm-12 col-xs-12">
    <div class="x_panel">
      <div class="x_title">
        <h2>Create Help</h2>
    
        <div class="clearfix"></div>
      </div>
      <div class="x_content">
        <br>
        <form id="demo-form2" data-parsley-validate="" name="myForm" ng-submit="myForm.$valid && update()" class="form-horizontal form-label-left" novalidate="">

          <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">Question <span class="required">*</span>
            </label>
            <div class="col-md-6 col-sm-6 col-xs-12">
              <div class="col-md-9 col-sm-9 col-xs-12">
                <textarea class="form-control" rows="3" name="question" ng-model="help.question" required></textarea>
                <div class="error-message">
                    <span ng-show="submitted && myForm.question.$error.required">Question field is required.</span>
                </div>
              </div>
              
            </div>
          </div>

          <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">Answer <span class="required">*</span>
            </label>
            <div class="col-md-6 col-sm-6 col-xs-12">
              <div class="col-md-9 col-sm-9 col-xs-12">
                <textarea class="form-control" rows="3" name="answer" ng-model="help.answer" required></textarea>
                <div class="error-message">
                    <span ng-show="submitted && myForm.answer.$error.required">Answer field is required.</span>
                </div>
              </div>
              
            </div>
          </div>

          <div class="ln_solid"></div>
          <div class="form-group">
            <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
              <button type="submit" ng-click="submitted = true" class="btn btn-success">Update</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>