<div class="col-lg-12 col-xs-12" ng-init="getRequestInfo()">
  <div class="x_panel">
    <div class="x_title">
      <h2>User Info</h2>
      <div class="clearfix"></div>
    </div>
    <div class="x_content">
      <br>
      <form class="form-horizontal form-label-left">

        <div class="form-group">
          <label class="control-label col-md-3 col-sm-3 col-xs-12">Name : </label>
          <div class="col-md-9 col-sm-9 col-xs-12">
            <label class="control-label">{{requestInfo.from_id.name}}</label>
          </div>
        </div>

        <div class="form-group">
          <label class="control-label col-md-3 col-sm-3 col-xs-12">Email : </label>
          <div class="col-md-9 col-sm-9 col-xs-12">
            <label class="control-label">{{requestInfo.from_id.email}}</label>
          </div>
        </div>

        <div class="form-group">
          <label class="control-label col-md-3 col-sm-3 col-xs-12">Username : </label>
          <div class="col-md-9 col-sm-9 col-xs-12">
            <label class="control-label">{{requestInfo.from_id.username}}</label>
          </div>
        </div>

        <div class="form-group" ng-if="requestInfo.from_id.celeb_bio">
          <label class="control-label col-md-3 col-sm-3 col-xs-12">Celeb Bio : </label>
          <div class="col-md-9 col-sm-9 col-xs-12">
            <label class="control-label">{{requestInfo.from_id.celeb_bio}}</label>
          </div>
        </div>

        <div class="form-group" ng-if="requestInfo.from_id.profile_pic">
          <label class="control-label col-md-3 col-sm-3 col-xs-12">Profile Pic : </label>
          <div class="col-md-9 col-sm-9 col-xs-12">
            <img ng-if="requestInfo.from_id.profile_pic.indexOf('http') < 0" ng-src="{{imgUrl}}{{requestInfo.from_id.profile_pic}}">
            <img ng-if="requestInfo.from_id.profile_pic.indexOf('http') > -1" ng-src="{{requestInfo.from_id.profile_pic}}">
          </div>
        </div>

        <div class="ln_solid"></div>
        <div class="form-group">
          <div class="col-md-9 col-sm-9 col-xs-12 col-md-offset-3">
            <button type="submit" ng-click="actionOnCelebRequest(requestInfo._id , requestInfo.from_id._id , 2)" class="btn btn-success">Accept</button>
            <button type="reset" ng-click="actionOnCelebRequest(requestInfo._id , requestInfo.from_id._id , 0)" class="btn btn-danger">Decline</button>
          </div>
        </div>

      </form>
    </div>
  </div>
</div>