<div class="row">
  <div class="col-md-12 col-sm-12 col-xs-12">
    <div class="x_panel">
      <div class="x_title">
        <h2>{{title}}</h2>
        <div class="clearfix"></div>
      </div>

      <div class="x_content">
        <!-- <textarea data-ui-tinymce id="tinymce2" data-ng-model="tinymceModel" style="height: 500px;"></textarea> -->
        <textarea name="editor1" id="editor1"  data-ng-model="tinymceModel"></textarea>
       
      </div>
      <div class="box-footer">
          <button type="submit" class="profile btn btn-info" ng-click="updateContent()">Submit</button>
      </div>
    </div>
  </div>
</div>
   <!-- <div id="container">
   <textarea data-ui-tinymce id="tinymce2" data-ng-model="tinymceModel"></textarea>
      <p>{{tinymceModel}}</p>
      </div> -->