<div class="row">
  <div class="col-md-12 col-sm-12 col-xs-12">
    <div class="x_panel">
      <div class="x_title">
        <h2>Manage Content</h2>
        <div class="clearfix"></div>
      </div>
      

    
      <div class="x_content">
        <div class="row padding10">
          <div class="col-sm-6"><h4>Help Center FAQ's</h4></div>   
          <div class="col-sm-6"><button class="profile btn btn-info" ng-click="edit(1)">Edit</button></div>
        </div>
        <div class="row padding10">
          <div class="col-sm-6"><h4>Promotion Requirement</h4></div>   
          <div class="col-sm-6"><button class="profile btn btn-info" ng-click="edit(2)">Edit</button></div>
        </div>
        <div class="row padding10">
          <div class="col-sm-6"><h4>What are rewards</h4></div>   
          <div class="col-sm-6"><button class="profile btn btn-info" ng-click="edit(3)">Edit</button></div>
        </div>
        <div class="row padding10">
          <div class="col-sm-6"><h4>Privacy Policy</h4></div>   
          <div class="col-sm-6"><button class="profile btn btn-info" ng-click="edit(4)">Edit</button></div>
        </div>
        <div class="row padding10">
          <div class="col-sm-6"><h4>Terms of Services</h4></div>   
          <div class="col-sm-6"><button class="profile btn btn-info" ng-click="edit(5)">Edit</button></div>
        </div>
      </div>
    </div>
  </div>
</div>
